# Dados temporarios para o main
main/data/home/*
main/data/mysql-data/* 
main/data/mysql-etc/*

# Dados temporarios para o load balance
loadbalance/data/home/*

# Dados de desenvolvimento
main/XC
loadbalance/XC


